body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.completed span {
  text-decoration: line-through;
  color: gray;
  cursor: pointer;
}

li span {
  cursor: pointer;
}
